body {
  font-family: "Hepta Slab", serif, Arial;
  font-family: "Lato", sans-serif, Arial;
  background-color: rgba(117, 21, 21, 0.733);
  font-size: 15px;
  display: flex;
  margin: 0;
  min-height: 100vh; /*responsividade*/

* {
  box-sizing: border-box;
}
